<section class="details-container">
    <div class="left-half-details">
        <div class="arrow" [routerLink]="['/home/movies']">
            <i class="fas fa-arrow-left" ></i>
        </div>
        <h1>{{MovieDetails.original_title}}</h1>
        <p class="rates">Rating : <span>{{MovieDetails.vote_average}} / 10</span></p>
        <p class="para">{{MovieDetails.overview}}</p>
        <div class="split">
            <div class="left-split">
                <p>Releasing Date</p>
                <p>Orginal Language</p>
            </div>
            
            <div class="right-split">
                <p>({{MovieDetails.release_date| date:'YYYY'}})</p>
                <p  *ngFor="let language of MovieDetails.spoken_languages">{{language.name}}</p>
            </div>
        </div>
      
    </div>
    <div class="right-half-details">
        <img src="https://image.tmdb.org/t/p/w500{{MovieDetails.poster_path}}" alt="{{MovieDetails.title}}">
    </div>
  </section>