<div class="banner">
    <img src="../../../assets/images/banner.jpg" />
</div>
<div class="trending-sort">
    <div class="container-right">
        <h1>Trending</h1>
    </div>
    <div class="container-left">
        <div class="navigation" (click)="show = !show"><i class="fas fa-sort-alt"></i></div>
        <div class="content" (click)="show = !show">Sort by Ratings</div>
        <div class="sidebar"><i class="fas fa-caret-down"></i></div>
        <div class="filter" *ngIf="show">
            <a (click)="sortHigh()">High to low</a>
            <a (click)="sortLow()">Low to High</a>
        </div>
    </div>
</div>
<div class="center">
    <div class="row">
        <div class="column" *ngFor="let movie of moviesData | paginate: { itemsPerPage: count, currentPage: p }"
            [routerLink]="['/home/details', movie.id]">
            <div class="card">
                <div class="card-img-container">
                    <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="{{movie.title}}">
                </div>
                <div class="container">
                    <div class="left-half">
                        <p [routerLink]="['/home/details', movie.id]">{{movie.title}}</p>
                        <div class="package-rating-detail">
                            <i class="fa fa-star checked"></i>
                            <p>{{movie.vote_average}} / 10</p>
                        </div>
                    </div>
                    <div class="right-half" [routerLink]="['/home/details', movie.id]">
                        <i class="fas fa-play"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>