<div class="container-fluid">
  <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="img-fluid"
          src="../../../assets/images/image1.jpg"
          alt="Random first slide"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="img-fluid"
          src="../../../assets/images/image2.jpg"
          alt="Random second slide"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="img-fluid"
          src="../../../assets/images/image3.jpg"
          alt="Random third slide"
        />
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<section id="heading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 mt-4">
        <div class="float-start"><h1>Trending</h1></div>
      </div>
      <div class="col-6 mt-4">
        <div class="float-end">
          <div class="container-left">
            <div class="navigation" (click)="show = !show">
              <i class="fas fa-angle-double-up"></i>
            </div>
            <div ngbDropdown class="dropdown show">
              <a
                class="btn btn-secondary dropdown-toggle"
                role="button"
                ngbDropdownToggle
                >Sort by Ratings</a
              >
              <div
                class="dropdown-menu"
                ngbDropdownMenu
                aria-labelledby="dropdownMenuLink"
              >
                <a class="dropdown-item" ngbDropdownItem (click)="sortHigh()"
                  >Hight to Low</a
                >
                <a class="dropdown-item" ngbDropdownItem (click)="sortLow()"
                  >Low to High</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="card-section">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div
        class="col"
        *ngFor="let movie of moviesData | paginate: { itemsPerPage: count, currentPage: p }"
        [routerLink]="['/home/details', movie.id]">
        <div class="card h-100">
          <img
            src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
            class="card-img-top"
            alt="{{ movie.title }}"
          />
          <div class="card-body">
            <h5 class="card-title" [routerLink]="['/home/details', movie.id]">
              {{ movie.title }}
            </h5>
            <div class="row mt-5">
              <div class="col-6">
                <div class="row star-average">
                  <div class="col-2">
                    <i class="fa fa-star checked"></i>
                  </div>
                  <div class="col-10">
                    <div class="average">
                      <p>{{ movie.vote_average }} / 10</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div
                  class="left-play"
                  [routerLink]="['/home/details', movie.id]"
                >
                  <i class="fas fa-play"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</section>
